@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  background-image: url('./assets/images/Region1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */
/* body {
  background-image: url('./assets/images/Region1.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
} */
